/*******************
** Global styles. **
*******************/

html, body {
  background-color: #ffffff;
  color: #45494d;
  font: normal 20px Helvetica, Arial, sans-serif;
}

main, footer {
  max-width: 1000px;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

article {
  margin-bottom: 45px;
}

article + article {
  margin: 80px auto;
}

dt {
  font-weight: bold;
  margin-top: 10px;
}

fieldset {
  border: none;
}

h1 {
  background: transparent url("images/logo.png") 50% 100% no-repeat;
  font-size: 3.4rem;
  letter-spacing: 6px;
  margin-bottom: 120px;
  padding-bottom: 125px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 480px) {
  h1 {
    background-size: 90% auto;
    margin-bottom: 50px;
    padding-bottom: 90px;
  }
}

h2 {
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  background-color: inherit;
  color: #45494d;
  font-size: 0.8rem;
}

h3 a {
  background-color: inherit;
  color: #53c2af;
}

h1, h3 {
  text-transform: uppercase;
}

h2, h3 {
  font-weight: bold;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

/*++++++++++ Buttons ++++++++++*/

.button {
  background-color: #50c3af;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  margin-right: 1.25rem;
  padding: 5px 25px;
  text-align: center;
}

.disabled { /* Disabled buttons */
  background-color: #d2d5da;
  color: #ffffff;
  cursor: default;
}

/***********
** Header **
***********/

header {
  background-color: #3d3d3d;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    padding-bottom: 20px;
    padding-top: 40px;
  }
}

@media (max-width: 517px) {
  header {
    overflow: hidden;
    width: 100%;
  }
}

@media (max-width: 480px) {
  header {
    padding-bottom: 0;
  }
}

  /*++++++++++ Navigation bar ++++++++++*/

  nav li {
    display: inline-block;
    margin: 0 1.25rem;
  }

  nav a {
    font-size: 1rem;
    text-transform: uppercase;
  }

  nav .active {
    background-color: inherit;
    color: #50c3af;
  }

  nav a:hover {
    background-color: inherit;
    color: #f5dc39;
  }

  @media (max-width: 480px) {
    nav li {
      display: inline-block;
      padding-bottom: 10px;
      padding-top: 10px;
      margin: 0 auto;
      width: 49%;
    }
  }

/************
** Content **
************/

main {
  margin: 80px auto 0 auto;
  overflow: hidden;
}

  /*++++++++++ Articles ++++++++++*/

  .articles {
    float: left;
    max-width: 65%;
    overflow: hidden;
    padding: 0 11.5% 0 0;
  }

  @media (max-width: 600px) {
    .articles {
      margin: 0 25px;
      max-width: 100%;
      padding-right: 0;
    }
  }

  .articles h2 {
    margin-bottom: 20px;
  }

  .articles a:hover {
    background-color: inherit;
    color: #50c3af;
  }

  .articles p {
    line-height: 1.5rem;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .articles p > a {
    background-color: inherit;
    color: #53c2af;
    font-style: normal;
  }

  /*++++++++++ Comments ++++++++++*/

  .comments {
    margin-bottom: 45px;
    margin-top: 80px;
  }

  .comments article {
    margin-bottom: 0;
    margin-top: 45px;
  }

  .comments article:first-of-type {
    margin-top: 20px;
  }

  .comments h3 {
    margin: 25px auto;
  }

  .comments h3:first-of-type {
    margin-top: 20px;
  }

  /*++++++++++ Comment Form ++++++++++*/

  .post { /* Must clear articles and sidebar */
    clear: both;
    margin-bottom: 90px;
    overflow: hidden;
  }

  @media (max-width: 600px) {
    .post {
      margin-bottom: 50px;
      max-width: 100%;
    }
  }

  form {
    height: 0;
    left: -100%;
    padding-top: 25px;
    position: relative;
    transition: left 200ms linear;
  }

  form dl {
    margin-top: 20px;
  }

  form dt:last-of-type {
    padding-bottom: 5px;
  }

  form dd:last-of-type {
    padding-bottom: 15px;
  }

  label {
    display: block;
    font-size: 1rem;
  }

  textarea {
    box-sizing: border-box;
    height: 140px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
  }

  input[name="toggle_postbox"] {
    display: none;
  }

  input[name="toggle_postbox"]:checked + form {
    height: auto;
    left: 0;
  }

  input[type="email"],
  input[type="text"],
  textarea {
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
  }

  input[type="email"]:focus,
  input[type="text"]:focus,
  textarea:focus {
    box-shadow: inset 0 0 5px #0066cc;
  }

  input[type="email"],
  input[type="text"] {
    box-sizing: border-box;
    height: 38px;
    margin: 5px 0;
    padding: 5px 10px;
    width: 450px;
  }

  @media (max-width: 768px) {
    input[type="email"],
    input[type="text"] {
      width: 100%;
    }
  }

  input[type="submit"].button {
    font-size: 0.7rem;
    font-weight: normal;
  }

  /* These next 4 selectors must be separate for some reason */

    input::-webkit-input-placeholder {
      background-color: inherit;
      color: #999999;
    }

    input:-moz-placeholder {
      background-color: inherit;
      color: #999999;
    }

    input::-moz-placeholder {
      background-color: inherit;
      color: #999999;
    }

    input:-ms-input-placeholder {
      background-color: inherit;
      color: #999999;
    }

  /*++++++++++ Sidebar ++++++++++*/

  .sidebar {
    background-color: #f6f7f8;
    box-sizing: border-box;
    color: #787b80;
    font-size: 0.7rem;
    overflow: hidden;
    padding: 35px;
  }

  @media (max-width: 600px) {
    .sidebar {
      margin-bottom: 90px;
    }
  }

  @media (max-width: 480px) {
    .sidebar {
      background-color: inherit;
      margin-bottom: 15px;
      padding: 0 25px;
    }
  }

  .sidebar h3 {
    margin-bottom: 14px;
  }

    /*---------- Categories and About ----------*/

    @media (max-width: 600px) {
      .categories, .about {
        float: left;
        padding: 0;
        width: 49%;
      }

      .categories {
        margin-right: 0.4em;
      }
    }

    @media (max-width: 480px) {
      .categories, .about {
        background-color: #f6f7f8;
        box-sizing: border-box;
        float: none;
        margin-bottom: 25px;
        padding: 20px;
        width: 100%;
      }

      .about {
        margin-bottom: 100px;
      }
    }

    .categories ul {
      padding-bottom: 105px;
      padding-left: 20px;
    }

    @media (max-width: 600px) {
      .categories ul {
        padding-bottom: 0;
      }
    }

    .categories li:first-of-type {
      padding-top: 11px;
    }

    .categories li {
      list-style: url("images/bullet-pointer.png");
      padding-bottom: 5px;
    }

    .categories a {
      background-color: inherit;
      color: #787b80;
    }

    .categories a:hover {
      background-color: inherit;
      color: #50c3af;
    }

    .about h3 {
      margin-top: 0;
      padding: 0 0 11px 0;
    }

    .about p {
      font-size: 0.7rem;
      line-height: 1.05rem;
    }

/***************
** Pagination **
***************/

.pagination {
  clear: left;
  margin-bottom: 90px;
}

@media (max-width: 600px) {
  .pagination {
    margin-bottom: 50px;
  }
}

/***********
** Footer **
***********/

footer,
footer p {
  font-size: 0.6rem;
  margin: 0 auto;
}

footer {
  border-top: 1px solid #d0d0d0;
  display: block;
  padding: 15px 0 30px 0;
}

footer p {
  background-color: inherit;
  color: #7e8287;
  line-height: 150%;
}
